@media screen and (min-width:1450px) {
    .index {
        font-size: 18px;
        .nav{
            height: calc(100% - 71px);
        }
    }

}

@media screen and (max-width:1450px) {
    .index {
        font-size: 16px;
        .header{
            height: 60px;
        }
        .nav{
            height: calc(100% - 61px);
        }
    }
}

@media screen and (max-width:1100px) {
    .index {
        font-size: 14px;
        .header{
            height: 60px;
        }
        .nav{
            height: calc(100% - 61px);
        }        
    }
}

@media screen and (max-width:800px) {
    .index {
        font-size: 12px;
        .header{
            height: 45px;
        }
        .nav{
            height: calc(100% - 46px);
        }        
    }
}