@media screen and (min-width:1450px) {
    .index {
        font-size: 18px;
        .nav {
            height: calc(100% - 73px);
        }
    }
}

@media screen and (max-width:1450px) {
    .index {
        font-size: 16px;
        .header {
            height: 60px;
        }
        .nav {
            height: calc(100% - 63px);
        }
    }
}

@media screen and (max-width:1100px) {
    .index {
        font-size: 14px;
        .header {
            height: 60px;
        }
        .nav {
            height: calc(100% - 63px);
        }
    }
}

@media screen and (max-width:800px) {
    .index {
        font-size: 12px;
        .header {
            height: 45px;
        }
        .nav {
            height: calc(100% - 49px);
        }
    }
}